<!DOCTYPE html>
<html>
  <head>
    <title>Models</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <br>
    <%= link_to"GO TO Suppliers", suppliers_path %>
    <br>
  <%= link_to "Back to Home", root_path %>    <br>
  <%= link_to "GO to demo", demos_path %>
  </body>
</html>
